services:
    base_php: &base_php
        build:
            context: ./dockerfiles
            dockerfile: php.dockerfile
            args:
                - UID=${UID:-1000}
                - GID=${GID:-1000}
        volumes:
            - .:/var/www/html/project:delegated
            - ${DOCKER_CONFIG_FOLDER}/composer-cache:/home/laravel/.composer
            - ${DOCKER_CONFIG_FOLDER}/npm-cache:/home/laravel/.npm
            - ${DOCKER_CONFIG_FOLDER}/yarn-cache:/home/laravel/.yarn

    database_server:
        image: mysql:8.4.5
        restart: unless-stopped
        volumes:
            - ${DOCKER_CONFIG_FOLDER}/mysql-data:/var/lib/mysql
        tty: true
        ports:
            - ${DOCKER_DB_PORT}:3306
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql

    webserver:
        <<: *base_php
        restart: unless-stopped
        command: ["php", "artisan", "serve", "--host=0.0.0.0"]
        ports:
            - ${DOCKER_SERVER_PORT}:8000
        depends_on:
            - queue

    queue:
        <<: *base_php
        restart: unless-stopped
        command: ["php", "artisan", "queue:listen"]
        depends_on:
            - database_server
            - redis

    redis:
        restart: unless-stopped
        image: redis:7

